*.o
**/*.o
/minishell.dSYM/
libft/libft.a
minishell
.idea
minishell.dSYM
/.idea/
.idea/*
.DS*
**/.DS*
*.log
*.json
*minishell.dSYM*
.vscode
.vscode/*
.jsbeautifyrc
a.out
*hist_1*
hist_1
.deps
.idea
/f*